# Coverage directory used by tools like istanbul:
bower_components
node_modules
npm-debug.log
lib
coverage
.eslintcache

# # Exclude compiled files
# /lib
# icon-builder/js
# icon-builder/jsx

# # Exclude IDE project folders
# .idea
# *.sublime-project
# *.sublime-workspace
# jsconfig.json

# OS files
logs
*.log
.env
.DS_STORE

# Runtime Data:
pids
*.pid
*.seed
