# Coverage directory used by tools like istanbul:
bower_components
node_modules
npm-debug.log
src
coverage
.eslintcache

# # Exclude IDE project folders
# .idea
# *.sublime-project
# *.sublime-workspace
# jsconfig.json

# # OS files
# logs
# *.log
# .env
# .DS_STORE

# # Runtime Data:
# pids
# *.pid
# *.seed
